<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Gento\Oca\Api\OperatoryRepositoryInterface" type="Gento\Oca\Model\OperatoryRepository"/>
    <preference for="Gento\Oca\Api\Data\OperatoryInterface" type="Gento\Oca\Model\Operatory"/>
    <preference for="Gento\Oca\Api\Data\OperatorySearchResultInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Gento\Oca\Api\BranchRepositoryInterface" type="Gento\Oca\Model\BranchRepository"/>
    <preference for="Gento\Oca\Api\Data\BranchInterface" type="Gento\Oca\Model\Branch"/>
    <preference for="Gento\Oca\Api\Data\BranchSearchResultInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Gento\Oca\Api\HistoryRepositoryInterface" type="Gento\Oca\Model\HistoryRepository"/>
    <preference for="Gento\Oca\Api\Data\HistoryInterface" type="Gento\Oca\Model\History"/>
    <preference for="Gento\Oca\Api\Data\HistorySearchResultInterface" type="Magento\Framework\Api\SearchResults"/>
    <type name="Magento\Backend\Controller\Adminhtml\Index\GlobalSearch">
        <arguments>
            <argument name="searchModules" xsi:type="array">
                <item name="oca_operatories" xsi:type="array">
                    <item name="class" xsi:type="string">Gento\Oca\Model\Search\Operatory</item>
                    <item name="acl" xsi:type="string">Gento\Oca::operatories</item>
                </item>
                <item name="oca_branches" xsi:type="array">
                    <item name="class" xsi:type="string">Gento\Oca\Model\Search\Branch</item>
                    <item name="acl" xsi:type="string">Gento\Oca::branches</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="gento_oca_operatory_listing_data_source" xsi:type="string">GentoOcaOperatoryGridCollection
                </item>
                <item name="gento_oca_branch_listing_data_source" xsi:type="string">GentoOcaBranchGridCollection</item>
                <item name="gento_oca_history_listing_data_source"
                      xsi:type="string">GentoOcaHistoryGridCollection</item>
            </argument>
        </arguments>
    </type>
    <type name="Gento\Oca\Model\ResourceModel\Operatory\Collection">
        <arguments>
            <argument name="model" xsi:type="string">Gento\Oca\Model\Operatory</argument>
            <argument name="resourceModel" xsi:type="string">Gento\Oca\Model\ResourceModel\Operatory</argument>
            <argument name="idFieldName" xsi:type="string">operatory_id</argument>
            <argument name="eventPrefix" xsi:type="string">gento_oca_operatory_collection</argument>
            <argument name="eventObject" xsi:type="string">operatory_collection</argument>
        </arguments>
    </type>
    <virtualType name="GentoOcaOperatoryGridCollection" type="Gento\Oca\Model\ResourceModel\Operatory\Collection">
        <arguments>
            <argument name="model"
                      xsi:type="string">Magento\Framework\View\Element\UiComponent\DataProvider\Document</argument>
            <argument name="resourceModel" xsi:type="string">Gento\Oca\Model\ResourceModel\Operatory</argument>
            <argument name="idFieldName" xsi:type="string">operatory_id</argument>
            <argument name="eventPrefix" xsi:type="string">gento_oca_operatory_collection</argument>
            <argument name="eventObject" xsi:type="string">operatory_collection</argument>
        </arguments>
    </virtualType>
    <type name="Gento\Oca\Model\ResourceModel\Branch\Collection">
        <arguments>
            <argument name="model" xsi:type="string">Gento\Oca\Model\Branch</argument>
            <argument name="resourceModel" xsi:type="string">Gento\Oca\Model\ResourceModel\Branch</argument>
            <argument name="idFieldName" xsi:type="string">branch_id</argument>
            <argument name="eventPrefix" xsi:type="string">gento_oca_branch_collection</argument>
            <argument name="eventObject" xsi:type="string">branch_collection</argument>
        </arguments>
    </type>
    <virtualType name="GentoOcaBranchGridCollection" type="Gento\Oca\Model\ResourceModel\Branch\Collection">
        <arguments>
            <argument name="model"
                      xsi:type="string">Magento\Framework\View\Element\UiComponent\DataProvider\Document</argument>
            <argument name="resourceModel" xsi:type="string">Gento\Oca\Model\ResourceModel\Branch</argument>
            <argument name="idFieldName" xsi:type="string">branch_id</argument>
            <argument name="eventPrefix" xsi:type="string">gento_oca_branch_collection</argument>
            <argument name="eventObject" xsi:type="string">branch_collection</argument>
        </arguments>
    </virtualType>
    <type name="Gento\Oca\Model\ResourceModel\History\Collection">
        <arguments>
            <argument name="model" xsi:type="string">Gento\Oca\Model\History</argument>
            <argument name="resourceModel" xsi:type="string">Gento\Oca\Model\ResourceModel\History</argument>
            <argument name="idFieldName" xsi:type="string">request_id</argument>
            <argument name="eventPrefix" xsi:type="string">gento_oca_history_collection</argument>
            <argument name="eventObject" xsi:type="string">history_collection</argument>
        </arguments>
    </type>
    <virtualType name="GentoOcaHistoryGridCollection" type="Gento\Oca\Model\ResourceModel\History\Collection">
        <arguments>
            <argument name="model"
                      xsi:type="string">Magento\Framework\View\Element\UiComponent\DataProvider\Document</argument>
            <argument name="resourceModel" xsi:type="string">Gento\Oca\Model\ResourceModel\History</argument>
            <argument name="idFieldName" xsi:type="string">request_id</argument>
            <argument name="eventPrefix" xsi:type="string">gento_oca_history_collection</argument>
            <argument name="eventObject" xsi:type="string">history_collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Sales\Api\Data\OrderInterface">
        <plugin name="gento_oca_get_shipping_method" type="Gento\Oca\Plugin\Api\OrderInterfacePlugin"/>
    </type>
    <type name="Magento\Checkout\Api\ShippingInformationManagementInterface">
        <plugin name="gento_oca_set_branch_on_quote"
                type="Gento\Oca\Plugin\Api\ShippingInformationManagementPlugin"/>
    </type>
    <!--
    <type name="Magento\Quote\Model\Quote\Address\Rate">
        <plugin name="gento_oca_set_branch_description"
                type="Gento\Oca\Plugin\Api\Quote\Address\RatePlugin"/>
    </type>
    -->
    <type name="Magento\Quote\Model\Quote\Address">
        <plugin name="gento_oca_set_branch_description"
                type="Gento\Oca\Plugin\Api\Quote\AddressPlugin"
                disabled="true"
        />
    </type>
    <type name="Magento\Sales\Model\OrderRepository">
        <plugin name="gento_oca_set_branch_description_plugin_magento_sales_orderRepository"
                type="Gento\Oca\Plugin\Magento\Sales\OrderRepositoryPlugin"/>
    </type>
    <preference for="Magento\Shipping\Model\Rate\CarrierResult"
                type="Gento\Oca\Model\Magento\Shipping\Rate\CarrierResult"/>
</config>
