<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers">
            <group id="gento_oca" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>OCA</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <comment>Enable to edit specific values</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Titulo</label>
                </field>
                <field id="descripcion" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Descripcion</label>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Allow Specific Country</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="50" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Specific Country</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <depends>
                        <field id="*/*/allowspecific">1</field>
                    </depends>
                </field>
                <field id="showmethod" translate="label" type="select" sortOrder="90" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Show method if not applicable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="100" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Displayed Error Message</label>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Sort Order</label>
                </field>
                <field id="account_number" translate="label" type="text" sortOrder="140" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Account number</label>
                    <comment>OCA E-Pak account number</comment>
                </field>
                <field id="username" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Username</label>
                    <comment>OCA E-Pak username</comment>
                </field>
                <field id="password" translate="label" type="obscure" sortOrder="160" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment>OCA E-Pak password</comment>
                </field>
                <field id="cuit" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>CUIT</label>
                </field>
                <!-- <field id="service_url" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="0" showInStore="0" >
                    <label>Oep Tracking URL</label>
                </field> -->
                <field id="elocker_service_url" translate="label" type="text" sortOrder="500" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Epak WebService URL</label>
                </field>
                <!-- <field id="insurance_percentage" translate="label" type="text" sortOrder="175" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Insurance percentage</label>
                    <comment>Only apply to operatories with insurance</comment>
                </field> -->
                <field id="days" translate="label" type="text" sortOrder="180" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Days to send</label>
                    <comment>Days between the order is received and the package is sent to OCA</comment>
                </field>
                <field id="days_extra" translate="label" type="text" sortOrder="190" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Days to send (Extra)</label>
                    <comment>This will add only on checkout info, and will not be informed to OCA</comment>
                </field>
                <field id="reception_time" translate="label" type="select" sortOrder="200" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Reception time</label>
                    <comment>The time frame when the shipment should be picked up by OCA</comment>
                    <source_model>Gento\Oca\Model\Config\Source\ReceptionTime</source_model>
                </field>
                <field id="confirm" translate="label" type="select" sortOrder="210" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Confirm</label>
                    <comment>Enable draft to shippings (If true, need to be confirmed on OCA Epak Dashboard)</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="disabled_cp" translate="label" type="textarea" sortOrder="220" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Disabled Postal codes</label>
                    <comment>One by line</comment>
                </field>
                <group id="volume" translate="label" type="text" sortOrder="900" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Volume</label>
                    <attribute type="expanded">1</attribute>
                    <field id="min" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Min box volume</label>
                        <comment>Default volume of a shipping box (in cubic meters)</comment>
                    </field>
                    <field id="width" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Product width attribute</label>
                        <source_model>Gento\Oca\Model\Config\Source\ProductAttribute</source_model>
                    </field>
                    <field id="height" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Product height attribute</label>
                        <source_model>Gento\Oca\Model\Config\Source\ProductAttribute</source_model>
                    </field>
                    <field id="length" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Product length attribute</label>
                        <source_model>Gento\Oca\Model\Config\Source\ProductAttribute</source_model>
                    </field>
                    <field id="unit" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Unit product attribute</label>
                        <source_model>Gento\Oca\Model\Config\Source\UnitsAttribute</source_model>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
