<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers">
            <group id="gento_oca" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1"
                showInStore="1">
                <label>OCA</label>
                <include path="Gento_Oca::system/general.xml"/>
                <include path="Gento_Oca::system/volume.xml"/>
                <include path="Gento_Oca::system/customer_address.xml"/>
                <include path="Gento_Oca::system/crontab.xml"/>
            </group>
        </section>
    </system>
</config>
